<h1>
  {{ site.title }}
  <br/><br/>
  <a class="avatar" href="https://github.com/jjensn"><img class="avatar" src="https://avatars1.githubusercontent.com/u/5910157?s=88&amp;v=4" width="44" height="44" alt="@jjensn"> jjensn</a>
</h1>
<div id="arrow">
<ul id='links'>
  {% for category in site.categories %}
  <li><h2><i class="arrow right"></i>{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}        
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
{% for post in site.posts %}
  {% if post.category == null %}
    <li><a class="nocat" href='#{{ post.url }}'><i class="arrow right"></i>{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</div>